.project .frame .pro_zip .pro_two.on .two_txt ._inner {  
    position: absolute;
    z-index: 1200;
    top: 20%;
    left: 50%;
    max-width: 1500px;
    width: calc(100% - 20px);
    transform: translate(-50%, 0);
    margin: auto;
    font-family: 'MICEGothic Bold';
  }
  
  .project .frame .pro_zip .pro_two.on .two_txt .two_hd {
    width: 100%;
  }
  
  .project .frame .pro_zip .pro_two.on .two_txt .two_hd > button {
    margin: 16px;
    width: 240px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #C4C1C1;
    background-color: #C4C1C1;
    color: white;
  }

  .project .frame .pro_zip .pro_two .two_txt.on ._inner h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 1px;
    border: 1px dashed gray;
  }
  
  .pro2 {
    width: 100%;
    /* border: 1px solid black; */
    text-align: left;
  }
  
  
  
  .pro2 span {
    font-size: 32px;
    display: block
  }
  
  .pro2 p {
    font-size: 18px;
  }
  
  .pro2 strong {
    font-size: 24px;
  }
  
  
  
  .pro2 .pro2_txt {
    display: flex;
    justify-content: space-around;
    text-align: left;
    /* border: 1px solid blue; */
  }
  
  .pro2 .pro2_txt > div {
    width: calc(100% / 2);
    /* border: 1px solid red; */
  }
  
  .pro2 .pro2_txt > div > span {
    padding-bottom: 10px;
  }
  
  .pro2 .pro2_txt > div > p {
    padding-bottom: 54px;
  }
  
  .pro2 .pro2_txt > div > strong {
    color: black;
  }
  
  .pro2 .skill2 {
    /* border: 3px dotted black; */
    text-align: left;
  }
  
  .pro2 .skill2 > span {
    font-size: 32px;
    padding-bottom: 2rem;
  }
  
  .pro2 .skill2 .skill2_img > img {
    width: 60px;
  }
  
  .pro2 .benchmarking2 {
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    padding: 4rem 0;
  }
  
  .pro2 .benchmarking2 span {
    padding: 2rem 0;
    display: block;
    width: 100%;
    position: relative;
    /* border: 1px solid red; */
  }
  
  .pro2 .benchmarking2 span::after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 20px;
      width: 100%;
      height: 1px;
      border: 1px dashed gray;
  }
  
  .pro2 .benchmarking2 > div {
    width: calc(100% / 2);
    /* border: 1px solid blue; */
  }
  
  .pro2 .benchmarking2 .bench2_img {
    display: flex;
    align-items: flex-start;
  }

  .pro2 .benchmarking2 .bench2_img > img {
    width: 35%;
    margin-right: 1rem;
    /* border: 1px solid red; */
  }
  
  .pro2 .benchmarking2 .bench2_txt {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  
  .pro2 .benchmarking2 .bench2_txt strong {
    color: black;
  }
  
  .pro2 .benchmarking2 .bench2_txt > * {
    width: 100%;
    /* border: 1px solid red; */
  }
  
  .pro2 .benchmarking2 .bench2_txt strong:nth-of-type(2) {
    padding-top: 2rem;
  }
  
  .pro2 .epilogue2 {
    padding: 4rem 0;
  }
  
  .pro2 .epilogue2 span {
    position: relative;
  }
  
  .pro2 .epilogue2 span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 1px;
    border: 1px dashed gray;
  }
  
  .pro2 .epilogue2 p {
    color: black;
    line-height: 2;
  }
  
  .pro2 .style_guide2 {
    padding: 4rem 0;
  }
  
  .pro2 .style_guide2 span {
    position: relative;
  }
  
  .pro2 .style_guide2 span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 1px;
    border: 1px dashed gray;
  }
  
  .pro2 .style_guide2 .sg2 {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
  
  }
  
  .pro2 .style_guide2 .sg2 > div {
    width: calc(100% / 2);
    padding-top: 2rem;
  }
  
  .pro2 .style_guide2 .sg2 > div > p {
    padding-top: 2rem;
  }
  
  .pro2 .style_guide2 .sg2 .color2 .col2_zip > div {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    /* border: 1px solid pink; */
    margin: 10px 2rem;
  }
  
  .pro2 .style_guide2 .sg2 .color2 .col2_zip {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    width: 100%;
  }
  
  .pro2 .style_guide2 .sg2 .color2 .col2_zip .col2_1 {
    background-color: #B7884C;
  }
  
  .pro2 .style_guide2 .sg2 .color2 .col2_zip .col2_2 {
    background-color: #87553D;
  }
  
  .pro2 .style_guide2 .sg2 .color2 .col2_zip .col2_3 {
    background-color: #81643E;
  }
  
  .pro2 .style_guide2 .sg2 .color2 .col2_zip .col2_4 {
    background-color: #EDE7DD;
  }
  
  .pro2 .style_guide2 .sg2 .color2 .col2_zip .col2_5 {
    background-color: #FEE600;
  }
  
  .pro2 .ui_icon2 .ui_con2 {
    display: flex;
    padding: 2rem 0;
    /* border: 1px solid red; */
  }
  
  .pro2 .ui_icon2 span {
    position: relative;
  }
  
  .pro2 .ui_icon2 span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 1px;
    border: 1px dashed gray;
  }
  
  .pro2 .ui_icon2 .ui_con2 .icon2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: calc(100% / 2); */
    width: 60%;
    /* border: 1px solid red; */
  }
  
  .pro2 .ui_icon2 .ui_con2 .icon2 > div {
    margin: 1rem;
  }

  .pro2 .ui_icon2 .ui_con2 .icon2 > div:nth-of-type(4) {
    transform: scaleX(-1);
  }
  
  .pro2 .ui_icon2 .ui_con2 .icon2 img {
    width: 80px;
  }
  
  .pro2 .ui_icon2 .ui_con2 .btn2 {
    width: 40%;
    /* border: 1px solid red; */
  }

  .pro2 .ui_icon2 .ui_con2 .btn2 > button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    color: black;
    margin: 2rem 1rem;
  }
  
  .pro2 .ui_icon2 .ui_con2 .btn2 > button:nth-of-type(1) {
    background-color: #87553D;
    border: 1px solid #87553D;
  }
  
  .pro2 .ui_icon2 .ui_con2 .btn2 > button:nth-of-type(2) {
    background-color: #EAEAEA;
    border: 1px solid #EAEAEA;
  }
  
  .pro2 .ui_icon2 .ui_con2 .btn2 > button:nth-of-type(3) {
    background-color: #FEE600;
    border: 1px solid #FEE600;
  }
  
   /* 반응형 start */
   @media(max-width:800px){
    .project .frame .pro_zip .pro_two.on {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
    }
    .project .frame .pro_zip .pro_two.on .pro_two_img {
     top: 10%;
     left: 50%;
     transform: translate(-50%, -50%);
    }
 
    .project .frame .pro_zip .pro_two.on .two_txt ._inner {  
     position: absolute;
     top: 20%;
     left: 50%;
     /* max-width: calc(100% -50px); */
     width: calc(100% - 50px);
     transform: translate(-50%, 0);
     margin: auto;
     font-family: 'MICEGothic Bold';
     /* border: 1px solid red; */
   }
   
   .project .frame .pro_zip .pro_two.on .two_txt .two_hd {
     width: 100%;
     display: flex;
     /* border: 1px solid red; */
   }
   
   .project .frame .pro_zip .pro_two.on .two_txt .two_hd > button {
     margin: 10px;
     /* width: 240px;
     height: 50px; */
     width: calc(100% / 3 - 20px);
     height: 30px;
     border-radius: 10px;
     border: 1px solid #C4C1C1;
     background-color: #C4C1C1;
     font-size: 0.75rem;
     color: white;
   }
 
   .project .frame .pro_zip .pro_two .two_txt.on ._inner h1 {
     font-size: 1.5rem;
   }
 
   .project .frame .pro_zip .pro_two .two_txt.on ._inner h1::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -10px;
     width: 100%;
     height: 1px;
     border: 1px dashed gray;
   }
   
   .pro2 {
     width: 100%;
     /* border: 1px solid black; */
     text-align: left;
   }
   
   .pro2 span {
     font-size: 1.5rem;
     display: block
   }
   
   .pro2 p {
     font-size: 1rem;
   }
   
   .pro2 strong {
     font-size: 20px;
   }
   
   .pro2 .pro2_txt {
     display: block;
   }
   
   .pro2 .pro2_txt > div {
     width: 100%;
     /* border: 1px solid red; */
   }
   
   .pro2 .pro2_txt > div > span {
     padding-bottom: 10px;
   }
   
   .pro2 .pro2_txt > div > p {
     padding-bottom: 2rem;
   }
   
   .pro2 .pro2_txt > div > strong {
     color: black;
   }
   
   .pro2 .skill2 {
     /* border: 3px dotted black; */
     text-align: left;
   }
   
   .pro2 .skill2 > span {
     font-size: 1.5rem;
     padding-bottom: 1rem;
   }
   
   .pro2 .skill2 .skill2_img > img {
     width: 50px;
   }
   
   .pro2 .benchmarking2 {
     text-align: left;
     display: block;
     position: relative;
     padding: 2rem 0;
   }
   
   .pro2 .benchmarking2 span {
     padding: 2rem 0;
     display: block;
     width: 100%;
     position: relative;
     /* border: 1px solid red; */
   }
   
   .pro2 .benchmarking2 span::after{
       content: "";
       position: absolute;
       left: 0;
       bottom: 20px;
       width: 100%;
       height: 1px;
       border: 1px dashed gray;
   }
   
   .pro2 .benchmarking2 > div {
     width: 100%;
     /* border: 1px solid blue; */
   }
   
   .pro2 .benchmarking2 .bench2_img > img {
     width: 45%;
     margin-right: 1rem;
   }
   
   .pro2 .benchmarking2 .bench2_txt {
     display: flex;
     flex-flow: column;
     align-items: center;
     justify-content: center;
   }
   
   .pro2 .benchmarking2 .bench2_txt strong {
     color: black;
   }
   
   .pro2 .benchmarking2 .bench2_txt > * {
     width: 100%;
     /* border: 1px solid red; */
   }
   
   .pro2 .benchmarking2 .bench2_txt strong:nth-of-type(2) {
     padding-top: 2rem;
   }
   
   .pro2 .epilogue2 {
     padding: 2rem 0;
   }
   
   .pro2 .epilogue2 span {
     position: relative;
   }
   
   .pro2 .epilogue2 span::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -10px;
     width: 100%;
     height: 1px;
     border: 1px dashed gray;
   }
   
   .pro2 .epilogue2 p {
     color: black;
     line-height: 2;
   }
   
   .pro2 .style_guide2 {
     padding: 2rem 0;
   }
   
   .pro2 .style_guide2 span {
     position: relative;
   }
   
   .pro2 .style_guide2 span::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -10px;
     width: 100%;
     height: 1px;
     border: 1px dashed gray;
   }
   
   .pro2 .style_guide2 .sg2 {
     display: block;
     /* display: flex;
     justify-content: space-between; */
     /* border: 1px solid blue; */
   }
   
   .pro2 .style_guide2 .sg2 > div {
     width: 100%;
     padding-top: 2rem;
     /* border: 1px solid blue; */
   }
   
   .pro2 .style_guide2 .sg2 .color2 .col2_zip {
     display: flex;
     /* justify-content: space-between; */
     /* align-items: center; */
     flex-wrap: wrap;
     /* border: 1px solid black; */
     width: 100%;
   }
   
   .pro2 .style_guide2 .sg2 .color2 .col2_zip > div {
     width: 60px;
     height: 60px;
     border-radius: 20px;
     /* border: 1px solid pink; */
     margin: 5px;
   }
   
 
   .pro2 .style_guide2 .sg2 .color2 .col2_zip .col2_1 {
    background-color: #B7884C;
  }
  
  .pro2 .style_guide2 .sg2 .color2 .col2_zip .col2_2 {
    background-color: #87553D;
  }
  
  .pro2 .style_guide2 .sg2 .color2 .col2_zip .col2_3 {
    background-color: #81643E;
  }
  
  .pro2 .style_guide2 .sg2 .color2 .col2_zip .col2_4 {
    background-color: #EDE7DD;
  }
  
  .pro2 .style_guide2 .sg2 .color2 .col2_zip .col2_5 {
    background-color: #FEE600;
  }
   
   .pro2 .ui_icon2 {
     display: block;
     width: 100%;
     /* border: 1px solid black; */
     /* padding: 2rem 0; */
   }
   
   .pro2 .ui_icon2 .ui_con2 {
     width: 100%;
     /* border: 1px solid red; */
     display: block;
   }
 
   .pro2 .ui_icon2 span {
     position: relative;
   }
   
   .pro2 .ui_icon2 span::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -10px;
     width: 100%;
     height: 1px;
     border: 1px dashed gray;
   }
   
   .pro2 .ui_icon2 .ui_con2 .icon2 {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     width: 100%;
     /* border: 1px solid red; */
   }
   
   .pro2 .ui_icon2 .ui_con2 .icon2 > div {
     margin: 1rem;
   }
   
   .pro2 .ui_icon2 .ui_con2 .icon2 img {
     width: 80px;
   }
   
   .pro2 .ui_icon2 .ui_con2 .btn2 {
     display: flex;
     width: 100%;
   }
 
   .pro2 .ui_icon2 .ui_con2 .btn2 > button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    color: black;
    margin: 2rem 1rem;
  }
  
  .pro2 .ui_icon2 .ui_con2 .btn2 > button:nth-of-type(1) {
    background-color: #87553D;
    border: 1px solid #87553D;
  }
  
  .pro2 .ui_icon2 .ui_con2 .btn2 > button:nth-of-type(2) {
    background-color: #EAEAEA;
    border: 1px solid #EAEAEA;
  }
  
  .pro2 .ui_icon2 .ui_con2 .btn2 > button:nth-of-type(3) {
    background-color: #FEE600;
    border: 1px solid #FEE600;
  }
}
 
   /* 반응형 end */